*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  //background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
}

.container {
  padding: 0 20px;
}

.heading__title {
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
  color: #bea67c;
  position: relative;
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
}

.heading__title::after {
  content: '';
  width: 50%;
  border-bottom: solid 5px $color-main;
  margin: 0 auto;
  padding-top: 10px;
  z-index: 1;
  display: flex;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px; 
}