$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;

// $font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$hero-main-text-size: 60px;
$base-size: 12px;
$capital-size: 16px;
$logo-font-lg: 22px;
$logo-font-sm: 10px;  
